.footer
    span &copy; Myriam Frisano &middot; 
        a(href="https://halfapx.com") halfapx.com
    |  &middot; 
    span Icons from The Noun Project (#[a(href="https://thenounproject.com/term/money/1447303/" target="_blank") Money by Yusuf Shuaib (adjusted)] &middot; #[a(href="https://thenounproject.com/term/clover/159353/" target="_blank") Clover by Marek Polakovic, SK (adjusted)]) Licenced under #[a(href="https://creativecommons.org/licenses/by/3.0/us/legalcode" target="_blank") CC 3.0] 
// development (do not ship this)
script(src="js/json2.js")
script(src="js/jquery-3.1.1.js")
script(src="js/main.js")

// production (compile scripts.min.js before shipping)
// script(src="/js/scripts.min.js")
