extends layout.pug

block content
    h1 Anleitung
    Hier findest du eine Anleitung zum Spiel Beneficium, zu diesem Spiel gehört ein Spielfeld sowie Ereigniskarten, diese findest du auf der #[a(href="download.html" target="_blank") Download Page].
    
    h2 Web-App
    p #[b Achtung]: Die App verwendet Cookies um Spielzwischenresultate abzuspeichern, stelle vorhergehend sicher, dass diese nicht deaktiviert sind.
    p Bevor du mit dem Spiel beginnen kannst, musst du die Kontostände generieren. Im Formular auf der Startseite findest du alle Einstellungen, wie Anzahl Spieler (+ Spielernamen), die Gesamtmenge des zu verteilenden Geldes, die Preise für Würfelkosten (mehr dazu im Spielverlauf) sowie den Fairheitsgrad der Geldverteilung.
    p Einige Felder sind mit Defaults ausgefüllt.
    img(alt="config" src="img/config.png")
    br
    p Sobald du mit deinen Einstellungen zufrieden bist, kannst du die Spieler generieren und wirst auf die Hauptseite, weitergeleitet.
    br
    img(alt="view" src="img/view.png")
    p Auf der Hauptseite hast du einen Überblick über die Preise für zusätzliche Würfe und Wurfresultate, du siehst welcher Spielder den Würfelvorteil erhält, wie das Kapital jedes Spielers aussieht und welcher Kategorie er zugeordnet ist, reich, arm, oder Mittelstand basierend auf der Anzahl Kleeblattsymbole unterhalb des Namens.
    p Falls du keinen Würfel besitzt, kannst du den Button verwenden, um Zahlen von 1 - 6 zu generieren.
    p Unterhlab des Kontostandes siehst du die Aktionsbuttons.
    p Die "Kaufen-Buttons" werden für die Würfe verwendet, die Aktions-Buttons wie Zahlung, Überweisung und Einzahlung ergeben sich aus den Ereigniskarten.
    br
    img(alt="zahlungen" src="img/zahlungen.jpg")
    p Wenn eine Karte von einer Reduktion deines Kapitals spricht, die nicht einem anderen Spieler zuteil werden soll, werden diese Beträge als Zahlung erfasst.
    br
    img(alt="ueberweisung" src="img/ueberweisung.jpg")
    p Verlangt eine Ereigniskarte einen Kapitalübertrag auf einen anderen Spieler, verwendest du die ÜBerweisen Aktion. Hier kann der Empfänger und die Einheit gewählt werden.
    br
    img(alt="einzahlung" src="img/einzahlung.jpg")
    p Wenn eine Ereigniskarte Zuschüssen oder Gewinnen handelt, kann der Betrag über die Einzahlen-Funktion erfasst werden.
    br
    h2 Spielverlauf
    p Am einfachsten lässt sich Beneficium anhand eines Spielverlaufes erklären.
    ol
        li Die Spieler einigen sich auf Werte des Generators und erfassen ihre Namen.
        li Der Glückspilz ist der vom Schicksal bevorteilte Spieler, er darf in jeder Runde zwei Mal kostenlos würfeln anstelle nur einmal.
        li Der erste Spieler beginnt mit einem ersten Wurf. Er geht folglich die Anzahl Felder auf dem Spielfeld und entscheidet darauf, ob er es bei diesem Ergebnis belassen möchte, oder 1. einen weiteren Wurf mit dem Würfel kauft, oder aber das Resultat selbst bestimmen möchte und dafür ein Wurfergebnis kauft. Steht der Spieler zu diesem Zeitpunkt auf einem Ereignisfeld und entscheidet er sich dafür, sich fortzubewegen, so darf er keine Karte ziehen. Entscheidet er sich für weitere Felder wird die entsprechende Aktion auf der App erfasst und der Spieler geht die resultierenden Felder vorwärts. Danach ist der nächste Spieler dran.
        li Ist der Glückspilz am Zug, darf er zwei Mal würfeln und danach trifft ihn die gleiche Entscheidung, ob er ein Resultat oder einen Wurf kaufen will. Er darf hier nur mit einem Würfel spielen und nicht mehr als 6 Felder gehen.
        li Landet ein Spieler nach abgeschlossener Fortbewegung auf einem Ereignisfeld (durch ein Kleeblatt markiert) nimmt er die oberste Ereigniskarte und führt die dort beschriebene Aktion aus.
        li Wenn ein Spieler einen Kontostand von 0 hat, darf er damit weiterspielen, bis er im Minus ist. Wenn er im Minus landet, hat er verloren.
        li Gewonnen hat, wer als erstes die komplette Runde gemacht hat und wieder am Start ankommt, ohne dabei einen Kontostand von 0 zu haben.
