extends layout.pug

block content
    h1 Anleitung
    Hier findest du eine Anleitung zum Spiel Beneficium, zu diesem Spiel gehört ein Spielfeld sowie Ereigniskarten, diese findest du auf der #[a(href="download.html" target="_blank") Download Page].
    
    h2 Konfiguration
    h2 Spielverlauf
