extends layout.pug

block content
    h1 Download
    p Um Beneficium zu spielen, benötigst du neben der Web-App ein Spielfeld, die Ereigniskarten (doppelseitig drucken) und Spielfiguren (Würfel sind nicht nötig, machen aber mehr Spass).
    br
    | #[a.btn(href="downloads/spielfeld.pdf" target="_blank") Spielfeld] #[a.btn(href="downloads/Ereigniskarten.pdf" target="_blank") Ereigniskarten]
    br
    br
    img(src="img/game.jpg" alt="game")
