extends layout.pug

block content
    h1 Konfiguration
    form
        p Anzahl Spieler
        label
            input(type="radio" name="playercount" value="2")
            | 2
        label
            input(type="radio" name="playercount" value="3")
            | 3
        label
            input(type="radio" name="playercount" value="4")
            | 4
        .playernames
            input(type="text" name="player1name" value="Name Spieler 1")
            input(type="text" name="player2name" value="Name Spieler 2")
            input(type="text" name="player3name" value="Name Spieler 3")
            input(type="text" name="player4name" value="Name Spieler 4")
        label Total Gesamtkapital zu verteilen
            input(type="number" name="total" id="total" value="1000000")
            svg.icon
                use(xlink:href="#money")
        label Kosten zusätzlicher Wurf (% des Gesamtkapitals)
            input(type="number" name="roll" id="roll" value="0.5")
        label Kosten Wurfergebnis (% des Gesamtkapitals)
            input(type="number" name="res" id="res" value="5")
        p Geldverteilung
        label 
            input(type="radio" name="distrib" value="fair")
            | keine Ungleichheit (jeder Spieler erhält gleich viel Startkapital)
        label 
            input(type="radio" name="distrib" value="small")
            | kleine Ungleichheit (40% - 60% des Geldes geht an den reichsten Spieler)
        label 
            input(type="radio" name="distrib" value="large" checked)
            | grosse Ungleichheit (70% - 85% des Geldes geht an reichsten Spieler)
        a(class="btn generate" href="result.html") generiere Spieler
