extends layout.pug

block content
    h1 Konfiguration
    form
        label Anzahl Spieler
        select#playercount
            option Anzahl Spieler
            option(value="2") 2
            option(value="3" selected) 3
            option(value="4") 4        
        br
        label Total Geld zu verteilen
            input(type="number" name="total" id="total" value="1000000")
        
        p Geldverteilung
        label 
            input(type="radio" name="distrib" value="fair")
            | keine Ungleichheit (jeder Spieler erhält gleich viel Startkapital)
        label 
            input(type="radio" name="distrib" value="small")
            | kleine Ungleichheit (40% - 60% des Geldes geht an den reichsten Spieler)
        label 
            input(type="radio" name="distrib" value="large" checked)
            | grosse Ungleichheit (70% - 85% des Geldes geht an reichsten Spieler)
        a(class="button generate" href="result.html") generiere Spieler
