extends layout.pug

block content
    #results
        h1 Resultate
        
    .paybank
        h1 Zahlung Tätigen an Bank
    .payplayer
        h1 Zahlung an anderen Spieler
    .addmoney
        h1 Erhält Zahlung
    .buydice
        h1 Wurf kaufen
    .buydiceresult
        h1 Würfelergebnis kaufen
